<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.shop.carshop.servlets.MenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleCarServlet</servlet-name>
        <servlet-class>com.shop.carshop.servlets.SingleCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.shop.carshop.servlets.DeleteServlet</servlet-class>
    </servlet>

    
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/car-shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleCarServlet</servlet-name>
        <url-pattern>/car-shop/car/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/car-shop/delete/car/*</url-pattern>
    </servlet-mapping>
    
</web-app>